.header {
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

.header__logo {
  width: 173px;
  height: 33px;
  margin: 0 0 41px;
}

@media screen and (max-width: 544px) {
  .header {
    padding-top: 28px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 32px 27px;
  }
}
